<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Identification Chatbot</title>
    <!-- markdown -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.2.0/marked.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar">
                <div class="logo">
                    <img src="../static/images/placeholder_logo.svg" alt="Eco Logo">
                </div>
                <div class="nav-links">
                    <a href="#" class="nav-link">Home</a>
                    <div class="divider"></div>
                    <a href="#" class="nav-link">Chat</a>
                    <div class="divider"></div>
                    <a href="#" class="nav-link">Contact</a>    
                </div>
            </nav>
        </div>
    
    
        <div class="container">
            <div class="header">
                <h1>PlantMama</h1>
                <p>Ask bot or upload picture to find how to take care of a plant.</p>
                
                <!-- <div class="location-inputs">
                    <input type="text" id="latitudeInput" placeholder="Latitude (optional)">
                    <input type="text" id="longitudeInput" placeholder="Longitude (optional)">
                </div> -->
                
                <!-- <div class="similar-images-toggle">
                    <label for="similarImagesToggle">Show similar images:</label>
                    <input type="checkbox" id="similarImagesToggle" checked>
                </div> -->
            </div>
            
            <div class="chat-container" id="chatContainer">
                <div class="message bot-message">
                    Hello! I can help you identify plants and answer questions about them. Start by uploading a clear image of a plant you want to identify.
                </div>
            </div>
            
            <div class="input-area">
                <!-- <div class="image-upload">
                    
                   
                </div>
                -->
                
                <div class="message-input">
                    <input type="text" id="messageInput" placeholder="Type your message here..." onkeypress="handleKeyPress(event)">
                    <input type="file" id="imageUpload" accept="image/*">
                    <button onclick="identifyPlant()">🔎</button>
                    <button onclick="sendMessage()">Send</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        Group T8 PlantMama
    </footer>

    <script src="/static/app.js"></script>
</body>
</html>